<template name="xymonfe">
    <div class="container">
        <div class="row">
            <div class="label label-success">xymonfe</div>
                <br>
                {{#with Xymon}}
                    {{#each NewServices this}}
                        <div class="col-md-4">
                            <span class="label label-primary">
                                {{this}}
                            </span>
                            {{#each NewHosts this}}
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">{{this.host}}</h4>
                                </div>
                                <div class="panel-body">
                                    {{this.test}} <span class="badge" style="background-color: {{this.color}}; color: black">{{this.timestamp}}</span>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    {{/each}}
                {{/with}}
            </div>
        </div>
</template>
