<template name="xymonfe">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="label label-success">xymonfe</div>
                <br>
                {{#each xymon}}
                    <div class="label label-default">HOST: {{hostname key}}</div>
                    <div class="label label-primary">INFO: {{info key}}</div>
                    <div class="label label-info" id="vlabel_{{hostname key}}">{{value}}</div>
                    <br>
                {{/each}}
            </div>
        </div>
    </div>
</template>
